<div class="text-center">
      <div class="col-md-12">
         <h4 class="modal-title">Registro usuarios</h4>
        	<p><p>{{ descripcion }}</p></p>
          <div class="form-registro">
            {{ formulario }}
          </div>
      </div>
</div>